IndentWidth: 4
IndentCaseLabels: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
  BeforeWhile: false
  BeforeElse: false
BreakBeforeBinaryOperators: NonAssignment
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
PointerAlignment: Right
